<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <!-- for icons  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}">
    <!-- for swiper slider  -->
    <link rel="stylesheet" href="{% static "assets/css/swiper-bundle.min.css" %}">

    <!-- fancy box  -->
    <link rel="stylesheet" href="{% static "assets/css/jquery.fancybox.min.css" %}">
    <!-- custom css  -->
    <link rel="stylesheet" href="{% static "assets/css/style.css" %}">
</head>

<body>
    <div>
        <!-- start of header  -->
        <header class="site-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="header-logo">
                            <a href="/">
                                <img src="{% static "assets/images/logo-2.png" %}" width="160" height="50" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="main-navigation">
                            <button class="menu-toggle"><span></span><span></span></button>
                            <nav class="header-menu">
                                <ul class="menu food-nav-menu">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="about">About</a></li>
                                    <li><a href="products1">Products</a></li>
                                    <li><a href="blog">Blog</a></li>
                                    <li><a href="contact">Contact</a></li>
                                    <li><a href="">Admin</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header ends  -->


        <section style="background-image: url({% static "assets/images/menu-bg.png" %});" class="our-menu section bg-light repeat-img"
            id="menu">
            <div class="sec-wp">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sec-title text-center mb-5">
                                <p class="sec-sub-title mb-3">About</p>
                                <h2 class="h2-title">About </h2>
                                <div class="sec-title-shape mb-4">
                                    <img src="{% static "assets/images/title-shape.svg" %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <p style="box-shadow: 28px 28px 45px #d4d4d4, -28px -28px 45px #818181;">
                            
<ul>

                           <li> Introducing the Renewed Formula of D.R Trade & Marketing Pet Food by Royal Canin!</li>

                           <li> We are thrilled to announce the collaboration between D.R Trade & Marketing and Royal Canin,
                            resulting in the renewal of our flagship pet food. With a shared commitment to providing
                            exceptional nutrition for pets, this partnership takes our products to new heights of
                            quality and excellence.</li>
                            <br>

                           <li>What's New?</li> 

                           <li>Enhanced Nutritional Benefits: The renewed formula of D.R Trade & Marketing Pet Food by
                            Royal Canin brings even greater nutritional benefits to your beloved pets. We have
                            fine-tuned the ingredients to deliver a complete and balanced diet that supports their
                            overall health and well-being.</li>
                            <br>

                        <li>Tailored for Individual Needs: We understand that each pet has unique dietary requirements.
                            That's why our renewed pet food offers a range of specialized formulas tailored to different
                            breeds, sizes, and life stages. From growing puppies and active adults to mature seniors, we
                            have the perfect formula to meet their specific needs.</li>
                            <br>

                        <li>Premium-Quality Ingredients: We believe in using only the finest ingredients in our pet
                            food. With Royal Canin's expertise and stringent quality standards, we source high-quality
                            proteins, carbohydrates, vitamins, and minerals to ensure optimal nutrition for your pets.</li>
                            <br>

                        <li>Advanced Nutritional Research: Through our collaboration with Royal Canin, we have access to
                            the latest advancements in pet nutrition research. This enables us to incorporate
                            cutting-edge scientific findings into our renewed formula, keeping your pets at the
                            forefront of nutritional excellence.</li>
                            <br>

                        <li> Irresistible Taste: We understand that taste matters to your furry friends. That's why we
                            have focused on enhancing the flavor and palatability of our renewed pet food. Your pets
                            will love the delectable taste, making mealtime a delightful experience.</li>
<br>
                        <li>Trust and Transparency: At D.R Trade & Marketing, we value your trust. That's why we
                            maintain transparency in our ingredients and manufacturing processes. You can have
                            confidence in our renewed pet food, knowing that it meets the highest standards of quality
                            and safety.</li>
<br>
                        <li>Experience the remarkable benefits of the renewed D.R Trade & Marketing Pet Food by Royal
                            Canin. Give your pets the nourishment they deserve and join us in providing them with the
                            finest quality nutrition. Together, we strive for healthier and happier lives for our
                            beloved companions.</li>
                        </ul>
                    </p>






        </section>







        <!-- footer starts  -->
        <footer class="site-footer" id="contact">
            <div class="top-footer section">
                <div class="sec-wp">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="footer-info">
                                    <div class="footer-logo">
                                        <a href="">
                                            <img src="{% static "assets/images/logo.png" %}" alt="">
                                        </a>
                                    </div>
                                    <div class="social-icon">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="uil uil-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="uil uil-instagram"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="uil uil-github-alt"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="uil uil-youtube"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="footer-flex-box">
                                    <div class="footer-table-info">
                                        <h3 class="h3-title">open hours</h3>
                                        <ul>
                                            <li><i class="uil uil-clock"></i> Mon-Thurs : 9am - 22pm</li>
                                            <li><i class="uil uil-clock"></i> Fri-Sun : 11am - 22pm</li>
                                        </ul>
                                    </div>
                                    <div class="footer-menu food-nav-menu">
                                        <h3 class="h3-title">Links</h3>
                                        <ul class="column-2">
                                            <li>
                                                <a href="#home" class="footer-active-menu">Home</a>
                                            </li>
                                            <li><a href="About.html">About</a></li>
                                            <li><a href="/">Menu</a></li>
                                            <li><a href="Products.html">Products</a></li>
                                            <li><a href="Blog.html">Blog</a></li>
                                            <li><a href="Contact.html">Contact</a></li>
                                        </ul>
                                    </div>
                                    <div class="footer-menu">
                                        <h3 class="h3-title">Company</h3>
                                        <ul>
                                            <li><a href="/">Terms & Conditions</a></li>
                                            <li><a href="/">Privacy Policy</a></li>
                                            <li><a href="/">Cookie Policy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="copyright-text">
                                <p>Copyright &copy; 2021 <span class="name">TechieCoder.</span>All Rights Reserved.
                                </p>
                            </div>
                        </div>
                    </div>
                    <button class="scrolltop"><i class="uil uil-angle-up"></i></button>
                </div>
            </div>
        </footer>



    </div>
    </div>
















    </div>
</body>

</html>